body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: white;
}

.container {
  width: 1920px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* 상단 로그인 바 */
.top-bar {
  width: 1920px;
  height: 56px;
  padding: 0 120px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  background-color: white;
}

.auth-buttons a {
    font-size: 17px;
    color: black;
    margin-left: 30px;
    text-decoration: none;
}
.auth-buttons a:hover {
  color: #0366FF;
  transition: color 0.2s ease;
}

/* 네비게이션 바 */
.navbar {
  width: 1920px;
  height: 96px;
  padding: 0 120px;
  background-color: #5398F5;
  display: flex;
  align-items: center;
  position: fixed;
  top: 56px;
  left: 50%;
  transform: translateX(-50%);
}

.logo img {
    height: 28px;
    align-items: center;
    position: absolute;
    display: block;
    top: 36px;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 100px;
  padding: 0px 20px;
  width: 770px;
  height: 48px;
  margin: 0 auto;
}

.search-bar input {
    border: none;
    outline: none;
    font-size: 14px;
    flex: 1;
    height: 20px;
}

.search-bar button {
    background: none;
    border: none;
    width: 50px;
    height: 50px;
}

.search-bar button img {
    width: 40px;
    height: 40px;
    display: block;
    object-fit: contain;
}
.complete-container {
  margin-top: 400px;
  margin-bottom: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 가입 완료 박스 */
.complete-box {
  width: 586px;
  padding: 48px 40px 60px;
  border: 1px solid #EEF5FF;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.search-icon {
  width: 50px;              
  height: auto;
  margin-bottom: 5px;     
}
.complete-box h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 12px;
  color: #000;
}

.complete-box p {
  font-size: 17px;
  text-align: center;
  color: #666;
  line-height: 20.40px;
  margin-bottom: 30px;
  font-weight: 400;
}


/* 푸터 */
.footer {
    width: 1920px;
    padding: 42px 320px;
    background-color: #09254B;
    color: #8a8a8a;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.footer-content {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 120px;
}

.footer-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-section.left {
    margin-right: 40px;
}

.footer-section .project-title {
    color: #2c65b1;
    font-size: 17px;
    font-weight: 700;
}

.footer-section strong {
    color: #2c65b1;
    font-size: 17px;
    font-weight: 700;
}

.footer-section div {
    font-size: 17px;
    color: #8a8a8a;
}

.footer-line {
    width: 100%;
    max-width: 1330px;
    height: 1px;
    background-color: #8a8a8a;
}

.footer-copy {
    text-align: center;
    font-size: 15px;
    color: #2c65b1;
}